root = true

[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=4
ij_continuation_indent_size=8
max_line_length=160

[*.kts]
ktlint_standard_no-wildcard-imports = disabled

[{*.yml,*.json,*.ts}]
indent_size=2