### Gradle template
.gradle
build/
gradle-app.setting
!gradle-wrapper.jar
.kotlin/sessions

### JetBrains template
*.iml
.idea/
*.ipr
*.iws
out/
.idea_modules/

### Eclipse template
/bin/
/*/bin
/examples/*/bin/
/examples/*/*/bin/
.settings
.classpath
.project

### Visual Studio Code
*.code-workspace

### NPM things
node_modules/
dist/
.vite
grooves-site/test-results/
grooves-site/playwright-report/

### Other stuff
.gradletasknamecache
.pid.lock
/.vscode/