@import 'bootstrap/dist/css/bootstrap.css';
@import 'font-awesome/css/font-awesome.css';
@import url('https://fonts.googleapis.com/css?family=Monoton|Roboto:300,700');
#intro {
    background-color: transparent;
    text-align: center;
    padding: 2rem 0;
}
#intro h1 {
    font-family: 'Monoton', cursive;
    animation-name: example;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    transform: rotate(-1.5deg);
    text-shadow: 8px 8px 8px rgba(128,128,128,.5);
}
.btn-outline-secondary {
    border-color: #6c757d;
    color: #6c757d;
    margin: 0.25rem;
}
.btn-outline-secondary:hover {
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-group {
    margin: 0.25rem;
}
* {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-weight: 300;
    font-size: 1.02em;
}
strong {
    font-weight: 700;
}
.h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
}
@keyframes example {
    0%   {color: red;}
    25%  {color: darkgoldenrod;}
    50%  {color: blue;}
    75%  {color: green;}
    100% {color: red;}
}
.heading {
    margin: 6rem 0;
}